<!-- Delete Modal HTML -->
<div id="deleteRecordModal" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">						
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="deleteRecordFormTitle" class="modal-title">Delete Record</h4>                    
                </div>
                <div class="modal-body">					
                    <p id="deleteRecordConfirm">${util:langString(Languages, "jsp.tools.conciliationExporter.deleteForm.confirmMessage")}</p>
                    <p id="deleteRecordWarning" class="text-warning"><small>${util:langString(Languages, "jsp.tools.conciliationExporter.deleteForm.warningMessage")}.</small></p>
                </div>
                <div class="modal-footer">
                    <input id="deleteRecordFormCancelBtn" type="button" class="btn btn-default" data-dismiss="modal" value="${util:langString(Languages, "jsp.admin.genericLabel.cancel")}">
                    <input id="deleteRecordFormDeleteBtn" type="submit" class="btn btn-danger" value="${util:langString(Languages, "jsp.admin.genericLabel.Delete")}">
                </div>
            </form>
        </div>
    </div>
</div>