<%-- any content can be specified here e.g.: --%>
<%@page import="java.io.IOException"%>
<%@page import="com.debisys.languages.Languages"%>
<%@ page pageEncoding="ISO-8859-1" %>
<%!

    private void setJsInvoicingGlobals(javax.servlet.jsp.JspWriter localOut, String language) {
        StringBuilder sbInvoiceGlobals = new StringBuilder();
        sbInvoiceGlobals.append("<script type=\"text/javascript\">");

        sbInvoiceGlobals.append(String.format("var noProviderSelectedError = '%s'; ", Languages.getString("jsp.report.balance.emidaBalanceOnProvider.noProviderSelected", language)));
        sbInvoiceGlobals.append(String.format("var invalidDates = '%s'; ", Languages.getString("jsp.report.balance.emidaBalanceOnProvider.invalidDates", language)));

        // Datetime picker labels
        sbInvoiceGlobals.append(String.format("var repApplyLbl = '%s'; ", Languages.getString("reports.apply", language)));
        sbInvoiceGlobals.append(String.format("var repCancelLbl = '%s'; ", Languages.getString("reports.cancel", language)));
        sbInvoiceGlobals.append(String.format("var repFromLbl = '%s'; ", Languages.getString("reports.from", language)));
        sbInvoiceGlobals.append(String.format("var repToLbl = '%s'; ", Languages.getString("reports.to", language)));
        sbInvoiceGlobals.append(String.format("var repCustomLbl = '%s'; ", Languages.getString("reports.custom", language)));
        sbInvoiceGlobals.append(String.format("var repDaySu = '%s'; ", Languages.getString("reports.day.Su", language)));
        sbInvoiceGlobals.append(String.format("var repDayMo = '%s'; ", Languages.getString("reports.day.Mo", language)));
        sbInvoiceGlobals.append(String.format("var repDayTu = '%s'; ", Languages.getString("reports.day.Tu", language)));
        sbInvoiceGlobals.append(String.format("var repDayWe = '%s'; ", Languages.getString("reports.day.We", language)));
        sbInvoiceGlobals.append(String.format("var repDayTh = '%s'; ", Languages.getString("reports.day.Th", language)));
        sbInvoiceGlobals.append(String.format("var repDayFr = '%s'; ", Languages.getString("reports.day.Fr", language)));
        sbInvoiceGlobals.append(String.format("var repDaySa = '%s'; ", Languages.getString("reports.day.Sa", language)));
        sbInvoiceGlobals.append(String.format("var repMonthJan = '%s'; ", Languages.getString("reports.monthName.Jan", language)));
        sbInvoiceGlobals.append(String.format("var repMonthFeb = '%s'; ", Languages.getString("reports.monthName.Feb", language)));
        sbInvoiceGlobals.append(String.format("var repMonthMar = '%s'; ", Languages.getString("reports.monthName.Mar", language)));
        sbInvoiceGlobals.append(String.format("var repMonthApr = '%s'; ", Languages.getString("reports.monthName.Apr", language)));
        sbInvoiceGlobals.append(String.format("var repMonthMay = '%s'; ", Languages.getString("reports.monthName.May", language)));
        sbInvoiceGlobals.append(String.format("var repMonthJun = '%s'; ", Languages.getString("reports.monthName.Jun", language)));
        sbInvoiceGlobals.append(String.format("var repMonthJul = '%s'; ", Languages.getString("reports.monthName.Jul", language)));
        sbInvoiceGlobals.append(String.format("var repMonthAug = '%s'; ", Languages.getString("reports.monthName.Aug", language)));
        sbInvoiceGlobals.append(String.format("var repMonthSep = '%s'; ", Languages.getString("reports.monthName.Sep", language)));
        sbInvoiceGlobals.append(String.format("var repMonthOct = '%s'; ", Languages.getString("reports.monthName.Oc", language)));
        sbInvoiceGlobals.append(String.format("var repMonthNov = '%s'; ", Languages.getString("reports.monthName.Nov", language)));
        sbInvoiceGlobals.append(String.format("var repMonthDec = '%s'; ", Languages.getString("reports.monthName.Dec", language)));

        // Table labels
        sbInvoiceGlobals.append(String.format("var tblSearchLbl = '%s'; ", Languages.getString("jsp.admin.genericLabel.search", language)));
        sbInvoiceGlobals.append(String.format("var tblNoDataLbl = '%s'; ", Languages.getString("jsp.report.balance.emidaBalanceOnProvider.noData", language)));
        sbInvoiceGlobals.append(String.format("var tblNoticeContractsShowingLbl = '%s'; ", Languages.getString("jsp.tools.notice.contracts.showing", language)));
        sbInvoiceGlobals.append(String.format("var tblNoticeContractsOfLbl = '%s'; ", Languages.getString("jsp.tools.notice.contracts.of", language)));
        sbInvoiceGlobals.append(String.format("var tblNoticeContractsRegisterLbl = '%s'; ", Languages.getString("jsp.tools.notice.contracts.register", language)));
        sbInvoiceGlobals.append(String.format("var tblFirstLbl = '%s'; ", Languages.getString("jsp.tools.datatable.first", language)));
        sbInvoiceGlobals.append(String.format("var tblNextLbl = '%s'; ", Languages.getString("jsp.admin.next", language)));
        sbInvoiceGlobals.append(String.format("var tblPreviousLbl = '%s'; ", Languages.getString("jsp.admin.previous", language)));
        sbInvoiceGlobals.append(String.format("var tblLastLbl = '%s'; ", Languages.getString("jsp.tools.datatable.last", language)));

        sbInvoiceGlobals.append("</script>");
        try {
            localOut.print(sbInvoiceGlobals.toString());
        } catch (IOException localIoException) {

        }
    }

%>
