/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9/05/2018, 10:43:13 AM
    Author     : emida
*/

.stripe1 {
    font-size: 13px !important;
    font-family: Arial, Helvetica, sans-serif !important;
    white-space: nowrap !important;
    background-color: #eaedf4 !important;
    font-weight: normal !important;
    color: #000 !important;
    line-height: 20px !important;
}
.stripe2 {
    font-size: 13px !important;
    font-family: Arial, Helvetica, sans-serif !important;
    white-space: nowrap !important;
    background-color: #ffffff !important;
    font-weight: normal !important;
    color: #000 !important;
    line-height: 20px !important;
}

#tableTransactions tr td {
    height: 1px;
}

#tableTransactions tr th {
    height: 1px;
}

div.dt-buttons {
    position: relative;
    float: left;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #000;
}