/*
EMIDA all rights reserved 1999-2019.
*/
/* 
    Created on : 25-ago-2016, 15:44:44
    Author     : fernandob
*/

.cols3 col:nth-child(1){width:165px;}
.cols3 col:nth-child(2){width:160px;}
.cols3 col:nth-child(3){width:220px;}