/*
EMIDA all rights reserved 1999-2019.
*/
/* 
    Created on : 11-ago-2017, 10:49:02
    Author     : fernandob
*/

.alignCenter { text-align: center; }

.alignRight { text-align: right; }

.componentLeftMargin { margin-left: 0.5cm;}

.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('error.png');
}
