.tablebutton {
align:center;
text-align: center;
}
.rowselected
{
	border-collapse:collapse; 
	margin:0; 
	padding:0; 
    FONT-SIZE: 8pt;
    FONT-FAMILY: arial,sans-serif;
    Font-color: white;
    color: white;
    BACKGROUND-COLOR: #808080 ; 
  	border: 2px solid #00008b; 
}
.row1
{
	border-collapse:collapse; 
	margin:0; 
	padding:0; 
    FONT-SIZE: 8pt;
    FONT-FAMILY: arial,sans-serif;
    BACKGROUND-COLOR: #eaedf4 ; 
  	border: 2px solid #eaedf4; 
}
.row2
{
	border-collapse:collapse; 
	margin:0; 
	padding:0; 
    FONT-SIZE: 8pt;
    FONT-FAMILY: arial,sans-serif;
    BACKGROUND-COLOR: #d3d3d3 ;
  	border: 2px solid #ffffff;
}
.rowwraphover1
{
	border-collapse:collapse; 
	margin:0; 
	padding:0; 
    FONT-SIZE: 8pt;
    FONT-FAMILY: arial,sans-serif;
    BACKGROUND-COLOR: #7b9ebd;  
  	border: 2px solid;
    border-color: #7b9ebd;
}
.rowwraphover2
{
	border-collapse:collapse; 
	margin:0; 
	padding:0; 
    FONT-SIZE: 8pt;
    FONT-FAMILY: arial,sans-serif;
    BACKGROUND-COLOR: #7b9ebd;
  	border: 2px solid;
  	border-color: #7b9ebd;
}
.button { 
  width:100px;
  height:25px;
  align:center;
  text-align: center;
  color:#050;
  font: bold 84% 'trebuchet ms',helvetica,sans-serif;
  border: 2px solid #f1f9fe;
}

.button:hover {
  width:100px;
  height:25px;
  align:center;
  text-align: center;
  color:#050;
  font: bold 84% 'trebuchet ms',helvetica,sans-serif;
  border: 2px solid #7b9ebd;
}