/* 
    Created on : 4/10/2018, 06:07:29 PM
    Author     : emida
*/

.containerMessages {
    position: absolute;
    left: 50px;
    width: calc(100% - 100px);
    border: 0.5px solid black;
    background-image: url("../../../../images/top_left_blue.gif");
    padding: 1px;
    text-align: center;
}

/*height:0;width:20%;padding-bottom:20%;background-color:red*/
/*background-image: url("../../../../images/top_left_blue.gif");*/

.barMessages {
    width: 100%;
    display:table;
}

.row .errorLabelField {
    white-space: normal !important;    
}

.errorLabelField {
    display: table-caption;
    color: #FF0000;
    font-style: italic;
    font-size: 0.875em;
    white-space: normal !important;
}

