<%@page import="java.util.Calendar"%>
<%@page import="com.debisys.users.SessionData"%>
<%@page import="java.text.SimpleDateFormat"%>
<%@page import="com.debisys.languages.Languages"%>
<script src="js/regexpValidationFunctions.js" type="text/javascript"></script>
<script src="js/admin/reports/payments/PaymentRequestSearchFilters.js" type="text/javascript"></script>
<link href="css/admin/reports/payments/paymentRequestSearchFilters.css" type="text/css" rel="StyleSheet" />
<%
    SimpleDateFormat defaultDateFromatter = new SimpleDateFormat("MM/dd/yyyy");
    SessionData.setProperty("start_date", defaultDateFromatter.format(Calendar.getInstance().getTime()));
    SessionData.setProperty("end_date", defaultDateFromatter.format(Calendar.getInstance().getTime()));
%>    
<div id="paymentRequestsFiltersPanel" class="commonDiv">
    <table class="paymentSelect">
        <tr>
            <th class="formAreaTitle title" colspan="100%" width="100%">&nbsp;<%=Languages.getString("jsp.admin.reports.paymentrequest_search.searchTitle", SessionData.getLanguage()).toUpperCase()%></th>
        </tr>

        <tr>
            <td>
                <label for="txtStartDate"><%=Languages.getString("jsp.admin.start_date", SessionData.getLanguage())%> : </label>
                <input class="plain" name="startDate" id="startDate" value="<%=SessionData.getProperty("start_date")%>" size="12" tabindex="0"><a href="javascript:void(0)" onclick="if (self.gfPop)
                            gfPop.fStartPop(document.mainform.startDate, document.mainform.endDate);
                        return false;" HIDEFOCUS><img name="popcal" align="absmiddle" src="admin/calendar/calbtn.png" width="34" height="22" border="0" alt=""></a>
            </td>
            <td>
                <label for="txtEndDate"><%=Languages.getString("jsp.admin.end_date", SessionData.getLanguage())%> : </label>
                <input class="plain" name="endDate" id="endDate" value="<%=SessionData.getProperty("end_date")%>" size="12"><a href="javascript:void(0)" onclick="if (self.gfPop)
                            gfPop.fEndPop(document.mainform.startDate, document.mainform.endDate);
                        return false;" HIDEFOCUS><img name="popcal" align="absmiddle" src="admin/calendar/calbtn.png" width="34" height="22" border="0" alt=""></a>
            </td>
        </tr>
        <tr>
            <td>
                <input type="radio" id="chkUseMerchantId"  name="chkUseEntityChain" checked="true" value="merchantRadio"  tabindex="2" class="leftAlign" onclick="handleEntitySelection()">                
                <label for="chkUseMerchantId"  class="leftAlign"><%=Languages.getString("jsp.admin.reports.paymentrequest_search.useMerchantId", SessionData.getLanguage())%></label>
            </td>
            <td>
                <input type="radio" id="chkUseEntityChain" name="chkUseEntityChain" tabindex="3" value="chainRadio" class="leftAlign" onclick="handleEntitySelection()">                                
                <label for="chkUseEntityChain"  class="leftAlign"><%=Languages.getString("jsp.admin.reports.paymentrequest_search.useEntityChain", SessionData.getLanguage())%></label>
            </td>
        </tr>
        <tr>
            <td>
                <div id="merchantIdDiv">
                    <label for="txtMerchantId"><%=Languages.getString("jsp.admin.reports.paymentrequest_search.merchantId", SessionData.getLanguage())%> : </label>
                    <input type="text" maxlength=20 name="txtMerchantId" id="txtMerchantId" value="" size="12" tabindex="4" onblur="validateMerchantId('<%=Languages.getString("jsp.admin.reports.paymentrequest_search.checkMerchantId", SessionData.getLanguage())%>')">
                </div>
            </td>				
            <td>
                <span id="merchantIdHelp" class="help"></span>
            </td>
        </tr>
        <tr>
            <td colspan="50%">
                <div id="entityCombos">
                    <jsp:include page="/admin/customers/merchants/entity_combo_selector.jsp" >
                        <jsp:param value="<%=strRefId%>" name="strRefId" />
                        <jsp:param value="<%=strAccessLevel%>" name="strAccessLevel" />
                        <jsp:param value="<%=strDistChainType%>" name="strDistChainType" />                                            
                    </jsp:include>                                                
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label for="paymentStatusList"><%=Languages.getString("jsp.admin.reports.paymentrequest_search.status", SessionData.getLanguage())%> :</label>
                <select name="paymentStatusList" id="paymentStatusList" tabindex="10">
                    <option value="-1"><%=Languages.getString("jsp.admin.reports.all", SessionData.getLanguage())%></option>
                    <%
                        Vector vStatus = TransactionReport.getPaymentRequestStatus();
                        for (int i = 0; i < vStatus.size(); i++) {
                            Vector vTemp = (Vector) vStatus.get(i);
                            String statusCode = String.valueOf(vTemp.get(1));
                            String selectedStatus = (statusCode.equals("SUBMITTED"))?"selected":"";
                            out.println("<option value=" + vTemp.get(0) + " " + selectedStatus + ">" + Languages.getString("jsp.admin.reports.paymentrequest_search.status_" + vTemp.get(1), SessionData.getLanguage()) + "</option>");
                        }
                    %>
                </select>

            </td>							
            <td>
                <label for="bankList"><%=Languages.getString("jsp.admin.reports.paymentrequest_search.banks", SessionData.getLanguage())%> :</label>
                <select name="bankList" id="bankList" tabindex="11">
                    <option value="-1" selected><%=Languages.getString("jsp.admin.reports.all", SessionData.getLanguage())%></option>
                    <%
                        ArrayList<BankPojo> bankList = DbUtil.getBankList(application);
                        for (BankPojo currentBank : bankList) {
                            out.println("<option value=" + currentBank.getId() + ">" + currentBank.getName() + "</option>");
                        }
                    %>
                </select>
            </td>											
        </tr>
        <tr>
            <td>
                <label for="txtRequestId"><%=Languages.getString("jsp.admin.reports.paymentrequest_search.requestId", SessionData.getLanguage())%> :</label>
                <input type="text" maxlength=20 name="txtRequestId" id="txtRequestId" value="" size="12"  tabindex="12" 
                       onblur="validateRequestId('<%=Languages.getString("jsp.admin.reports.paymentrequest_search.checkRequestId", SessionData.getLanguage())%>')">
                <span id="requestIdHelp" class="help"></span>
            </td>													
            <td>
                <label for="txtDocumentId"><%=Languages.getString("jsp.admin.reports.paymentrequest_search.documentId", SessionData.getLanguage())%> :</label>
                <input type="text" maxlength=20 name="txtDocumentId" id="txtDocumentId" value="" size="12"  tabindex="13">
            </td>													
        </tr>
        <tr>
            <td>
                <label for="txtAmount"><%=Languages.getString("jsp.admin.reports.paymentrequest_search.amount", SessionData.getLanguage())%> :</label>
                <input type="text" maxlength=20 name="txtAmount" id="txtAmount" value="" size="12"  tabindex="14" 
                       onblur="validateAmount('<%=Languages.getString("jsp.admin.reports.paymentrequest_search.checkAmount", SessionData.getLanguage())%>')">
                <span id="amountHelp" class="help"></span>
            </td>													
            <td>
                <label for="txtSiteId"><%=Languages.getString("jsp.admin.reports.paymentrequest_search.siteid", SessionData.getLanguage())%> :</label>
                <input type="text" maxlength=20 name="txtSiteId" id="txtSiteId" value="" size="12"   tabindex="15"
                       onblur="validateSiteId('<%=Languages.getString("jsp.admin.reports.paymentrequest_search.checkSiteId", SessionData.getLanguage())%>')">
                <span id="siteIdHelp" class="help"></span>
            </td>													
        </tr>
        <tr>
        <span id="formHelp" class="help"></span>
        </tr>
        <tr>
            <td align='center'>
                <button id="btnSearch" type="submit" onclick="areFormFieldsFilled('<%=Languages.getString("jsp.admin.reports.paymentrequest_search.emptyFields", SessionData.getLanguage())%>')" tabindex="14">
                    <%=Languages.getString("jsp.admin.reports.show_report", SessionData.getLanguage())%>
                </button>
                <input type="hidden" name='search' id='search' value='y'>
            </td>
            <%-- No <TD> element is added here because the include already has it --%>
                <%
                    if((SessionData.getProperty("show_schedule_btn") != null) &&
                            (SessionData.getProperty("show_schedule_btn").equals("y"))){
                %>
                <div id="scheduleDiv">
                    <jsp:include page="/admin/reports/schreportoption.jsp">
                        <jsp:param value="<%=SessionData.checkPermission(DebisysConstants.PERM_ENABLE_SCHEDULE_REPORTS)%>" name="permissionEnableScheduleReports"/>
                        <jsp:param value="<%=SessionData.getLanguage()%>" name="language"/>
                    </jsp:include>
                </div>
                <%
                    }
                %>
            <td>
                <button id="btnCancel" type="button" tabindex="15" onclick='clearControls()'>
                    <%=Languages.getString("jsp.admin.reports.paymentrequest_search.cancel", SessionData.getLanguage())%>
                </button>
            </td>
        </tr>
    </table>
</div>
