.sort-table {
	font:		Arial;
	font-size: 	10pt;
	border:		0px Solid ThreeDShadow;
	background:	Window;
	color:		WindowText;
}

.sort-table thead {
	background:	ButtonFace;
}

.sort-table td {
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 15px !important;
	padding-right: 15px !important;
}

.sort-table thead td {
	border:			0px solid;
	border-color:	#deeef3 #005eb2 #005eb2 deeef3;
	cursor:			default;
}

.sort-table thead td:active {
	border-color:	#005eb2 #deeef3 #deeef3 #005eb2;
	padding:		1px 1px 1px 0px;
}

.sort-table thead td[_sortType=None]:active {
	border-color:	#deeef3 #005eb2 #005eb2 #deeef3;
	padding:		1px 1px;
}

.sort-arrow {
	width:					17px;
	height:					10px;
	background-position:	center center;
	background-repeat:		no-repeat;
	margin:					0 0px;
}

.sort-arrow.descending {
	background-image:		url("/support/images/up.png");

}

.sort-arrow.ascending {
	background-image:		url("/support/images/down.png");
}

.BoldClickableBody {
	font-family: Arial;
	font-size: 8pt;
	background: #005eb2;
	COLOR: #deeef3;
	font-weight: Bold;
	/*text-decoration: Underline;*/
}




