/*
EMIDA all rights reserved 1999-2019.
*/
/* 
    Created on : May 24, 2018, 3:51:32 PM
    Author     : fernandob

.EmidaBootstrapModalFormTitle{
    background-color: #88b229;
    color : #FFF;
}


*/

.modal-dialog,
.modal-content {
    /* 80% of window height */
    height: 80%;
}

.centerColumnContent{
    text-align:center;
}

.modal-header{
    background-image: url(images/top_left_blue.gif);
}