<%-- any content can be specified here e.g.: --%>
<%@page import="java.io.IOException"%>
<%@page import="com.debisys.languages.Languages"%>
<%@ page pageEncoding="ISO-8859-1" %>
<%!
    private void setJavaScriptGlobals(javax.servlet.jsp.JspWriter localOut, String language) {
        StringBuilder jsGlobals = new StringBuilder();
        jsGlobals.append("<script type=\"text/javascript\">");
        messagesSwitchForm(jsGlobals, language);

        jsGlobals.append("</script>");
        try {
            localOut.print(jsGlobals.toString());
        } catch (IOException localIoException) {

        }
    }

    private void messagesSwitchForm( StringBuilder jsGlobals, String language) {
        jsGlobals.append(String.format("var formErrorRequiredInitialDate = '%s'; ", Languages.getString("jsp.reports.internalReport.switchAccount.form.error.required.startDate", language)));
        jsGlobals.append(String.format("var formErrorInvalidInitialDate = '%s'; ", Languages.getString("jsp.reports.internalReport.switchAccount.form.error.invalid.startDate", language)));
        jsGlobals.append(String.format("var formErrorRequiredFinalDate = '%s'; ", Languages.getString("jsp.reports.internalReport.switchAccount.form.error.required.finalDate", language)));
        jsGlobals.append(String.format("var formErrorInvalidFinalDate = '%s'; ", Languages.getString("jsp.reports.internalReport.switchAccount.form.error.invalid.finalDate", language)));
        jsGlobals.append(String.format("var formErrorlessThanFinalDate = '%s'; ", Languages.getString("jsp.reports.internalReport.switchAccount.form.error.lessThan.finalDate", language)));
        jsGlobals.append(String.format("var formErrorRequiredTerminalId = '%s'; ", Languages.getString("jsp.reports.internalReport.switchAccount.form.error.required.terminalId", language)));
        jsGlobals.append(String.format("var formErrorInvalidTerminalId = '%s'; ", Languages.getString("jsp.reports.internalReport.switchAccount.form.error.invalid.terminalId", language)));
        jsGlobals.append(String.format("var formErrorRequiredMerchantId = '%s'; ", Languages.getString("jsp.reports.internalReport.switchAccount.form.error.required.merchantId", language)));
        jsGlobals.append(String.format("var formErrorInvalidMerchantId = '%s'; ", Languages.getString("jsp.reports.internalReport.switchAccount.form.error.invalid.merchantId", language)));

        jsGlobals.append(String.format("var tableOwnerDbaColumnTitle = '%s'; ", Languages.getString("jsp.reports.internalReport.switchAccount.form.table.column.title.ownerDba", language)));
        jsGlobals.append(String.format("var tableOwnerUserColumnTitle = '%s'; ", Languages.getString("jsp.reports.internalReport.switchAccount.form.table.column.title.ownerUserName", language)));
        jsGlobals.append(String.format("var tableOwnerMerchantIdColumnTitle = '%s'; ", Languages.getString("jsp.reports.internalReport.switchAccount.form.table.column.title.ownerMerchantId", language)));
        jsGlobals.append(String.format("var tableOwnerTerminalIdColumnTitle = '%s'; ", Languages.getString("jsp.reports.internalReport.switchAccount.form.table.column.title.ownerTerminalId", language)));
        jsGlobals.append(String.format("var tableOwnerTerminalTypeColumnTitle = '%s'; ", Languages.getString("jsp.reports.internalReport.switchAccount.form.table.column.title.ownerTerminalType", language)));
        jsGlobals.append(String.format("var tableOwnerTerminalLabelColumnTitle = '%s'; ", Languages.getString("jsp.reports.internalReport.switchAccount.form.table.column.title.ownerTerminalLabel", language)));
        jsGlobals.append(String.format("var tableOwnerTerminalDateColumnTitle = '%s'; ", Languages.getString("jsp.reports.internalReport.switchAccount.form.table.column.title.ownerTerminalDate", language)));
        jsGlobals.append(String.format("var tableOwnerTerminalBrandingColumnTitle = '%s'; ", Languages.getString("jsp.reports.internalReport.switchAccount.form.table.column.title.ownerTerminalBranding", language)));
        jsGlobals.append(String.format("var tableOwnerTerminalVersionColumnTitle = '%s'; ", Languages.getString("jsp.reports.internalReport.switchAccount.form.table.column.title.ownerTerminalVersion", language)));
        jsGlobals.append(String.format("var tableAssociatedDateColumnTitle = '%s'; ", Languages.getString("jsp.reports.internalReport.switchAccount.form.table.column.title.associatedDate", language)));
        jsGlobals.append(String.format("var tableAssociatedUserColumnTitle = '%s'; ", Languages.getString("jsp.reports.internalReport.switchAccount.form.table.column.title.associatedUser", language)));
        jsGlobals.append(String.format("var tableAssociatedDbaColumnTitle = '%s'; ", Languages.getString("jsp.reports.internalReport.switchAccount.form.table.column.title.associatedDba", language)));
        jsGlobals.append(String.format("var tableAssociatedMerchantIdColumnTitle = '%s'; ", Languages.getString("jsp.reports.internalReport.switchAccount.form.table.column.title.associatedMerchantId", language)));
        jsGlobals.append(String.format("var tableAssociatedTerminalIdColumnTitle = '%s'; ", Languages.getString("jsp.reports.internalReport.switchAccount.form.table.column.title.associatedTerminalId", language)));
        jsGlobals.append(String.format("var tableAssociatedTerminalTypeColumnTitle = '%s'; ", Languages.getString("jsp.reports.internalReport.switchAccount.form.table.column.title.associatedTerminalType", language)));
        jsGlobals.append(String.format("var tableAssociatedTerminalLabelColumnTitle = '%s'; ", Languages.getString("jsp.reports.internalReport.switchAccount.form.table.column.title.associatedTerminalLabel", language)));
        jsGlobals.append(String.format("var tableAssociatedTerminalBrandingColumnTitle = '%s'; ", Languages.getString("jsp.reports.internalReport.switchAccount.form.table.column.title.associatedTerminalBranding", language)));
        jsGlobals.append(String.format("var tableAssociatedTerminalVersionColumnTitle = '%s'; ", Languages.getString("jsp.reports.internalReport.switchAccount.form.table.column.title.associatedTerminalVersion", language)));
        jsGlobals.append(String.format("var tableAssociatedTerminalDateColumnTitle = '%s'; ", Languages.getString("jsp.reports.internalReport.switchAccount.form.table.column.title.associatedTerminalDate", language)));

        jsGlobals.append(String.format("var tableVersionPcTerm2ColumnTitle = '%s'; ", Languages.getString("jsp.reports.internalReport.switchAccount.form.table.column.field.ownerVersion.pcterm2", language)));
        jsGlobals.append(String.format("var tableVersionPcTerm4ColumnTitle = '%s'; ", Languages.getString("jsp.reports.internalReport.switchAccount.form.table.column.field.ownerVersion.pcterm4", language)));

        jsGlobals.append(String.format("var tableDownloadButton = '%s'; ", Languages.getString("jsp.reports.internalReport.switchAccount.form.table.label.download", language)));
    }
%>
