
reportGroupTable {
	BORDER-RIGHT: #7B9EBD 1px solid; BORDER-TOP: #7B9EBD 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #7B9EBD 1px solid; WIDTH: 100%; COLOR: #7B9EBD; BORDER-BOTTOM: #7B9EBD 1px solid; FONT-FAMILY: Tahoma; BORDER-COLLAPSE: collapse
}
.reportGroupTable TD {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; VERTICAL-ALIGN: text-top; CURSOR: pointer; PADDING-TOP: 4px; HEIGHT: 8px
}
.reportGroupTable TH {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: 700; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; HEIGHT: 8px
}
.reportGroupTable A {
	FONT-SIZE: 9pt; TEXT-DECORATION: none
}
.reportGroupTable A:link {
	FONT-SIZE: 9pt; TEXT-DECORATION: none
}
.reportGroupTable A:visited {
	FONT-SIZE: 9pt; TEXT-DECORATION: none
}
.reportGroupTable A:active {
	FONT-SIZE: 9pt; TEXT-DECORATION: none
}
.reportGroupTable A:hover {
	FONT-SIZE: 9pt; TEXT-DECORATION: none
}
.reportGroupTable .sublevel {
	DISPLAY: none
}
.reportGroupTable .sublevel LI:hover {
	BACKGROUND-COLOR: #ffffff
}
.reportGroupTable .sublevel LI.group-open {
	LIST-STYLE-IMAGE: url(/support/images/group-open-icon.png); BACKGROUND-COLOR: #ffffff;padding-left:18px;
}
.reportGroupTable .sublevel LI.group-closed {
	LIST-STYLE-IMAGE: url(/support/images/group-closed-icon.png);padding-left:18px;
}
.reportGroupTable .sublevel LI.report {
	LIST-STYLE-IMAGE: url(/support/images/report-icon.png);	padding-left:18px;
}
.reportGroupTable .sublevel group-label {
	LIST-STYLE-IMAGE: url(/support/images/group-open-icon.png); BACKGROUND-COLOR: #ffffff;padding-left:18px;
}
.main2{
	FONT-SIZE: 10pt;
	FONT-FAMILY: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: 628514;
	;padding-left:0px;
}