.dataTable {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 9pt;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	COLOR: #000000;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Verdana";
	background-color: f5f5f5;
	background-position: center;
}

.dataTable th {
	PADDING-LEFT: 2px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 9pt;
	COLOR: #FFF;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	WHITE-SPACE: nowrap;
	HEIGHT: 20px;
	TEXT-ALIGN: center;
	background-image: url(../images/top_blue.png);
	background-repeat: repeat;
}

.dataTable  td {
	font-family: verdana, arial, helvetica, sans-serif;
	/*padding-left: 2px;*/
	padding-left: 15px !important;
	padding-right: 15px !important;	
}

.dataTable tr.total td {
	white-space: nowrap;
	vertical-align: top;
	font-weight: bold;
	border-top: 1px solid black;
	padding-bottom: 10px;
}

.dataTable tr.total td.customer {
	visibility: hidden;
}

.dataTable td.hidden {
	display: none;
}

.dataTable th.hidden {
	display: none;
}

.dataTable th.r {
	text-align: right;
	padding-right: 10px;
}

.dataTable th.c {
	text-align: center;
}

.dataTable td.r {
	text-align: right;
	padding-right: 10px;
}

.dataTable td.c {
	text-align: center;
}

.dataTable  tr.odd {
	FONT-SIZE: 13px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	WHITE-SPACE: nowrap;
	BACKGROUND-COLOR: #eaedf4;
	font-weight: normal;
	color: #000;
	line-height:30px;
}

.dataTable tr.even {
	FONT-SIZE: 13px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	WHITE-SPACE: nowrap;
	BACKGROUND-COLOR: #ffffff;
	font-weight: normal;
	color: #000;
	line-height:30px;
	FONT-FAMILY:  Arial, Helvetica, sans-serif;
}

.dataTable th a   ,.dataTable th a:visited {
	text-align: left;
	color: white;
}

.dataTable th a:hover {
	background-color: transparent;
}

.dataTable .order1 {
}

.dataTable .order2 {
}

.pagelinks {
	color: #999999;
	margin: 5px;
	font-size: 8pt;
}

.pagelinks img {
	vertical-align: middle;
}

span.export {
	padding: 0 4px 1px 20px;
	font-size: x-small;
	text-align: center;
}

span.excel {
	background-image: url(../images/ico_file_excel.png);
	background-repeat: no-repeat;
	width: 16px;
}

span.csv {
	background-image: url(../images/ico_file_csv.png);
	background-repeat: no-repeat;
	width: 16px;
}

span.xml {
	background-image: url(../images/ico_file_xml.png);
	background-repeat: no-repeat;
	width: 16px;
}

span.pdf {
	background-image: url(../images/ico_file_pdf.png);
	background-repeat: no-repeat;
	width: 16px;
}

span.rtf {
	background-image: url(../images/ico_file_rtf.png);
	background-repeat: no-repeat;
	width: 16px;
}

.dataTable tr.rowMouseOver {
	background-image: url(../images/selected.gif);
	background-repeat: repeat-x;
	background-color: #ffff99;
}

.pageHeader {
	height: 60px;
	background-image: url(../images/header.gif);
	background-repeat: repeat-x;
}

.pageHeaderText {
	font-size: 30px;
	margin-left: 5px;
	color: whitesmoke;
	font-family: "century gothic", verdana, arial, helvetica, sans-serif;
	font-weight: bold;
	text-align: left;
	display:inline;
	white-space: nowrap;
}

.leftMenu {
	white-space: nowrap;
	height: 100%;
	background-color: #d6cfe6;
	font-family: verdana, arial, helvetica, sans-serif;
}

.content {
	width: 100%;
	padding: 10px;
}

.rightColumn {
	width: 3px;
}

.customer {
	width: 20%;
	text-align: left;
}

.orderNumber {
	width: 10%;
	text-align: left;
}

.orderDate {
	text-align: center;
	width: 10%;
}

.productName {
	width: 25%;
}

.quantity {
	text-align: center;
	width: 10%;
}

.lineItemTotal {
	text-align: right;
	width: 15%;
	padding-right:10px;
}

.logo {
	border-top: 1px solid #000066;
	border-left: 1px solid #000066;
	border-bottom: 1px solid #000066;
	display:inline;
	text-align: right;
}

.code {
	font-family: verdana, arial, helvetica, "courier new", monospace;
	font-size: 9pt;
}

.borderedInline {
	display: inline;
	border: 1px solid black;
}

img {
	border: 0px;
}