.details-table{
	width: 100%;
	BORDER-RIGHT: #7b9ebd 1px solid; BORDER-TOP: #7b9ebd 1px solid; BORDER-LEFT: #7b9ebd 1px solid; BORDER-BOTTOM: #7b9ebd 1px solid;
}
.details-table tr{
	height: 30px;
}
.details-table th{
	text-align: left;
}
.details-table fieldset legend{
	font-weight: bold;
}
.details-table fieldset img{
	border: 1px solid gray;
	/*width: 300px;
	height: 100px;*/
	margin: 5px;
}
.details-table textarea{
	width:100%;
	height:100px;
}
.details-table .checkList{
	list-style: none;
	max-height:200px;
	height: expression(this.scrollHeight > 201? "200px": "auto");
	overflow: auto;
	border-style:inset;
	border-width:2px;
	padding:0px;
	text-indent: 0px;
}
.helpToolTip{
	margin: 0px 15px;
}
.helpToolTip .helpToolTipBox{
	position: absolute;
	display: none;
	vertical-align: middle;
	text-align: left;
	padding: 15px;
	background-color: white;
	border: 2px solid black;
	z-index: 101;
}

.helpToolTip .helpToolTipBox p{
	text-align: left;
	width: 100%;
	min-width: 350px;
}

.helpToolTip .helpToolTipBox p img{
	max-width: 90%;
	max-height: 90%;
}

.list-table{
	border: 1px solid navy;
	background-color:#eff9fe;
	width: 100%;
}
.errorMsg{
	color: red;
}

