div.ajax-loading{
    position: fixed;
    top: 0;
    left: 0;
    height:100%;
    width:100%;
    z-index: 9999999;
    background-color:#FFFFFF;
    opacity: 0.5;
    filter: alpha(opacity=70); /* ie */
    -moz-opacity: 0.7; /* mozilla */
    display:none;
}
div.ajax-loading * {
    height:100%;
    width:100%;
    background-image: url('../images/load.gif');
    background-position:  center center;
    background-repeat: no-repeat;
    opacity: 6;
    filter: alpha(opacity=100); /* ie */
    -moz-opacity: 1; /* mozilla */
}