div#divPrintBanner table{
    display: none;
}
div#mainmenu{
    display: none;
}

table{
    width:100% !important;
}
table#mainTableSupport table#ControllerStyleClass
{
    background-color: aliceblue;
}

#mainTableSupport > tbody > tr > td > table > tbody > tr > td > table > tbody > tr:nth-child(1){
    display: none;
}

#mainTableSupport > tbody > tr > td > table > tbody > tr > td > table > tbody > tr:nth-child(1) > td.formAreaTitle{
    display: none;
}