.popUpBG{
	display:none;
	background-image: url(../images/popupbgpixolive.png); 
}
.popUpBody{
	position:relative;
	text-align:center;
	background-color: white;
	border: 2px solid #333333;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px 10px 10px 10px;
	overflow: hidden;
}
.popUpHeader{
	background-color: silver;
	height: 25px;
	width: 100%;
}
.popUpTitle{
	float: left;
	font-size: 12px;
	font-weight: bold;
	padding: 4px;
}
.popUpClose{
	float: right;
	margin: 5px;
	cursor: pointer;
	position: relative;
}
.popUpContent{
	overflow: auto;
	width: 100%;
	padding: auto;
	margin: auto;
}