.title{
    background-image: url("../../../../images/top_blue.gif");
    text-align: center;
}


.leftAlign{
    float:left; 
    clear:none;
}
.paymentSelect{
    border-spacing: 10px;    
    width: 750px;
}


#divStartDate{
    float:left; 
}

#btnSearch
{
    float: left;
    width: 100px;
}

#btnCancel
{
    float: right;
    width: 100px;
}

#entityCombos
{
    display: none;
}

.plain
{
    width:120px;
}

.commonDiv{
    float:left; 
    clear:top;
}

#scheduleDiv{
    display: none;
}

label { 
    display: inline-block; 
    width: 100px; 
    text-align: right; 
}

span.help {
    color:#FF0000;
    font-style:italic;
    font-size: 0.875em;
}

input, textarea, select, button {
  width : 155px;
  margin: 0;

  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
     -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
          box-sizing: border-box;
}

