FORM {DISPLAY: inline}
BODY  {font-family: "Verdana"; font-size: 9pt; color: 000000; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;}
A:link {font-family: "Verdana"; font-size: 8pt; color: NAVY; text-decoration:none;}
A:visited {font-family: "Verdana"; font-size: 8pt; color: NAVY; text-decoration:none;}
A:hover {font-family: "Verdana"; font-size: 8pt; color: BLUE;text-decoration:underline;}
.main
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 8pt;
    TEXT-ALIGN: left;
}
.formArea
{
    BORDER-RIGHT: #7b9ebd 1px solid;
    BORDER-TOP: #7b9ebd 1px solid;
    BORDER-LEFT: #7b9ebd 1px solid;
    BORDER-BOTTOM: #7b9ebd 1px solid;
    BACKGROUND-COLOR: #f1f9fe;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 8pt;
    }
.formArea2
{
    BORDER-RIGHT: #7b9ebd 1px solid;
    BORDER-TOP: #7b9ebd 1px solid;
    BORDER-LEFT: #7b9ebd 1px solid;
    BORDER-BOTTOM: #7b9ebd 1px solid;
    BACKGROUND-COLOR: #ffffff;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 8pt;
    }

.formAreaTitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    FONT-FAMILY: Verdana, Arial, sans-serif;
}
.attributes-odd
{
    BACKGROUND-COLOR: #f4f7fd;
}
.attributes-even
{
    BACKGROUND-COLOR: #ffffff;
}
.specialPrice
{
    COLOR: #ff0000 ;
}
.oldPrice
{
    TEXT-DECORATION: line-through
}
.fieldRequired
{
    FONT-SIZE: 10pt;
    COLOR: #ff0000;
    FONT-FAMILY: Verdana, Arial, sans-serif;
}
.smallText
{
    FONT-SIZE: 6pt;
    FONT-FAMILY: Verdana, Arial, sans-serif;
}
.errorText
{
    FONT-SIZE: 8pt;
    COLOR: #ff0000;
    FONT-FAMILY: Verdana, Arial, sans-serif;
}
.menuArea
{
    BORDER-RIGHT: #7b9ebd 1px solid;
    BORDER-TOP: #7b9ebd 1px solid;
    BORDER-LEFT: #7b9ebd 1px solid;
    BORDER-BOTTOM: #7b9ebd 1px solid;
    BACKGROUND-COLOR: #f1f9fe;
}
.row1
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: arial,sans-serif;
    BACKGROUND-COLOR: #eaedf4 ;
    WHITE-SPACE: nowrap;

}
.row2
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: arial,sans-serif;
    BACKGROUND-COLOR: #ffffff;
    WHITE-SPACE: nowrap;


}
.rowred1
{
    FONT-SIZE: 4pt;
    FONT-FAMILY: arial,sans-serif;
    COLOR:#ff0000;
    BACKGROUND-COLOR: #eaedf4 ;
    WHITE-SPACE: nowrap;
}
.rowblue1
{
    FONT-SIZE: 4pt;
    FONT-FAMILY: arial,sans-serif;
    COLOR:blue;
    BACKGROUND-COLOR: #eaedf4 ;
    WHITE-SPACE: nowrap;
}
.rowred2
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: arial,sans-serif;
    COLOR:#ff0000;
    BACKGROUND-COLOR: #ffffff;
    WHITE-SPACE: nowrap;


}
.rowwrap1
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: arial,sans-serif;
    BACKGROUND-COLOR: #eaedf4 ;    
}
.rowwrap2
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: arial,sans-serif;
    BACKGROUND-COLOR: #ffffff;
}
.glow
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: arial,sans-serif;
    BACKGROUND-COLOR: #DDAA00;
    WHITE-SPACE: nowrap;
}
.rowhead
{
    PADDING-LEFT: 2px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    BACKGROUND: #005eb2;
    COLOR: #deeef3;
    FONT-FAMILY: arial,verdana,sans-serif;
    WHITE-SPACE: nowrap;
    HEIGHT: 20px;
    TEXT-ALIGN: left;
}
.cssrowhead
{
    PADDING-LEFT: 2px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    BACKGROUND: #005eb2 url(images/bg.gif) repeat-x;
    COLOR: #deeef3;
    FONT-FAMILY: arial,verdana,sans-serif;
    WHITE-SPACE: nowrap;
    HEIGHT: 20px;
    TEXT-ALIGN: left;
}
.BarTo { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #8c8c8c; }
.BarCurrent { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #000000; }
.showLink{
    FONT-SIZE: 8pt;
    FONT-FAMILY: arial,verdana,sans-serif;
    text-decoration:underline;
}



