form{
	display: inline;
}
#mainmenu td:hover{
	background-color:#639200;
}
body{
	padding-right: 0px;
	padding-left: 0px;
	font-size: 13px;
	padding-bottom: 0px;
	margin: 0px;
	color: #000000;
	padding-top: 0px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #f5f5f5;
}
A:link {
	font-size: 13px;
	color: #2C0973;
	font-family:  Arial, Helvetica, sans-serif;
	text-decoration: none;
}
A:visited {
	font-size: 13px;
	color: #666;
	color: #2C0973;
	font-family:  Arial, Helvetica, sans-serif;
	text-decoration: none;

}
A:hover {
	font-size: 13px;
	color: #2C0973;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.main {
	font-size: 13px;
	font-family:  Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #000;
}
.mainpad {
	font-size: 9pt;
	font-family:  Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #000;
	padding-left:18px;
}
.mainBold {
	font-weight: bold; font-size: 8pt; font-family: Verdana, Arial, Helvetica, sans-serif;
}

.simpleBold{
    font-weight: bold;
}

.simpleCenteredText{
    text-align: center;
}

.formArea {
	border-right: #7b9ebd 1px solid;
	border-top: #7b9ebd 1px solid;
	font-size: 8pt;
	border-left: #7b9ebd 1px solid;
	border-bottom: #7b9ebd 1px solid;
	font-family:  Arial, Helvetica, sans-serif;
	background-color: #FFF;
	font-weight: normal;
	color: #5F8716;
}
.formArea2 {
	border-right: #7b9ebd 1px solid;
	border-top: #7b9ebd 1px solid;
	font-size: 8pt;
	border-left: #7b9ebd 1px solid;
	border-bottom: #7b9ebd 1px solid;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #f5f5f5;
	color: #000000;
}
.formArea2 {
	border-left: #7b9ebd 1px solid; border-right: #7b9ebd 1px solid; border-top: #7b9ebd 1px solid; font-size: 8pt; border-bottom: #7b9ebd 1px solid; font-family: Verdana, Arial, Helvetica, sans-serif; background-color: #ffffff;
}
.formAreaTitle {
	font-weight: bold;
	font-size: 10pt;
	font-family:  Arial, Helvetica, sans-serif;
	color: #FFF;
	background-repeat: repeat-x;
}
.formAreaTitle2{
	font-weight: bold;
	font-size: 10pt;
	font-family:  Arial, Helvetica, sans-serif;
	color: #000;
}
.attributes-odd {
	background-color: #f4f7fd;
}
.attributes-even {
	background-color: #ffffff;
}
.specialPrice {
	color: #ff0000;
}
.oldPrice {
	text-decoration: line-through;
}
.fieldRequired {
	font-size: 10pt; color: #ff0000; font-family: Verdana, Arial, sans-serif;
}
.smallText {
	font-size: 6pt; font-family: Verdana, Arial, sans-serif;
}
.errorText {
	font-size: 8pt; color: #ff0000; font-family: Verdana, Arial, sans-serif;
}
.menuArea {
	border-right: #7b9ebd 1px solid; border-top: #7b9ebd 1px solid; border-left: #7b9ebd 1px solid; border-bottom: #7b9ebd 1px solid; background-color: #f1f9fe;
}
.row1 {
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	white-space: nowrap;
	background-color: #eaedf4;
	font-weight: normal;
	color: #000;
	line-height:20px;
}
.row2 {
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	white-space: nowrap;
	background-color: #ffffff;
	font-weight: normal;
	color: #000;
	line-height:20px;
}
.rowNowRap1 {
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #eaedf4;
	font-weight: normal;
	color: #000;
	line-height:20px;
}
.rowNowRap2 {
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #ffffff;
	font-weight: normal;
	color: #000;
	line-height:20px;
}
.marow {
	font-size: 13px;
	font-family:  Arial, Helvetica, sans-serif;
	white-space: nowrap;
	background-color: #ffffff;
	font-weight: bold;
	color: #5F8716;
}
.row4 {
	font-size: 13px;
	font-family:  Arial, Helvetica, sans-serif;
	white-space: nowrap;
	background-color: #ffffff;
	font-weight: bold;
	color: #5F8716;
}
.row3 {
color:#000000;
font-family:Arial,Helvetica,sans-serif;
font-size:13px;
white-space:nowrap;
}
.rowTotals {
	font-size: 13px; font-family: Arial, Helvetica, sans-serif; white-space: nowrap; background-color: #fffffa;
}
.row {
	font-size: 13px; color: #ff0000; font-family:  Arial, Helvetica, sans-serif; white-space: nowrap; background-color: #eaedf4;
}
.rowred {
	font-size: 13px; color: #ff0000; font-family:  Arial, Helvetica, sans-serif; white-space: nowrap; background-color: #eaedf4;	font-weight: bold; line-height:30px;
}
.rowred1 {
	font-size: 13px; color: #ff0000 !important; font-family:  Arial, Helvetica, sans-serif; white-space: nowrap; background-color: #eaedf4;	font-weight: bold; line-height:30px;
}
.rowred2 {
	font-size: 13px; color: #ff0000 !important; font-family:  Arial, Helvetica, sans-serif; white-space: nowrap; background-color: #ffffff;	font-weight: bold;line-height:30px;
}
.rowwrap1 {
	font-size: 8pt; font-family: arial,sans-serif; background-color: #eaedf4;
}
.rowwrap2 {
	font-size: 8pt; font-family: arial,sans-serif; background-color: #ffffff;
}
.glow {
	font-size: 8pt; font-family: arial,sans-serif; white-space: nowrap; background-color: #ddaa00;
}
.rowhead {
	padding-left: 2px; font-weight: bold; font-size: 8pt; background: #005eb2; color: #deeef3; font-family: arial,verdana,sans-serif; white-space: nowrap; HEIGHT: 20px; text-ALIGN: left;
}
.rowhead2 {
	padding-left: 2px;
	font-weight: bold;
	font-size: 9pt;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	white-space: nowrap;
	HEIGHT: 20px;
	text-align: center;
	background-image: url(images/top_blue.png);
	background-repeat: repeat;
}
.rowhead3 {
	padding-left: 2px;
	font-weight: bold;
	font-size: 9pt;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	white-space: nowrap;
	HEIGHT: 20px;
	text-align: left;
	background-image: url(images/top_blue.png);
	background-repeat: repeat;
}
.rowheadItalic {
	padding-left: 2px; font-weight: bold; font-size: 8pt; background: #005eb2; color: #deeef3; font-style: italic; font-family: arial,verdana,sans-serif; white-space: nowrap; HEIGHT: 20px; text-ALIGN: left;
}
.BarTo {
	font-size: 10px; color: #8c8c8c; font-family: Verdana, Arial, sans-serif;
}
.BarCurrent {
	font-size: 10px; color: #000000; font-family: Verdana, Arial, sans-serif;
}
.showLink {
	font-size: 13px; font-family: arial,verdana,sans-serif; text-decoration: underline;
}
.cancelledStatus {
	font-weight: bold; color: #ff0000;
}
.disabledStatus {
	font-weight: bold; color: #ff0000;
}
.notActiveStatus {
	font-weight: bold; color: #0000ff;
}
.activeStatus {
	font-weight: bold; color: #00cc00;
}
.float {
	font-size: 8pt; FLOAT: left; font-family: Verdana, Arial, Helvetica, sans-serif;color: #000;
}
.RatePlanRow11 {
	font-size: 8pt; font-family: arial,sans-serif; white-space: nowrap; background-color: #ffffff;
}
.RatePlanRow10 {
	font-size: 8pt; font-family: arial,sans-serif; white-space: nowrap; background-color: #dddddd;
}
.RatePlanRow01 {
	font-size: 8pt; font-family: arial,sans-serif; white-space: nowrap; background-color: #d9dcf4;
}
.RatePlanRow00 {
	font-size: 8pt; font-family: arial,sans-serif; white-space: nowrap; background-color: #c0cbf4;
}
.Hierarchy0 {
	font-size: 8pt; font-family: arial,sans-serif; white-space: nowrap; background-color: #d9dcf4;
}
.Hierarchy1 {
	font-size: 8pt; font-family: arial,sans-serif; white-space: nowrap; background-color: #c0cbf4;
}
.Hierarchy2 {
	font-size: 8pt; font-family: arial,sans-serif; white-space: nowrap; background-color: #babaf4;
}
.Hierarchy3 {
	font-size: 8pt; font-family: arial,sans-serif; white-space: nowrap; background-color: #aba9f4;
}
.Hierarchy4 {
	font-size: 8pt; font-family: arial,sans-serif; white-space: nowrap; background-color: #9c98f4;
}
.copyrigth {
	color: #666;
	font-family:  Arial, Helvetica, sans-serif;
}
.fondosbotones {
	background-image: url(images/buttonsbanner.gif);
	background-repeat: repeat;
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFF;
}
.backceldas {
	background-color: #FFF;
}
.stilotexto {
	font-family:  Arial, Helvetica, sans-serif !important;
	font-size: 13px !important;
	/*font-weight: normal !important;*/
	color: #FFF !important;
	line-height: 20px;
}	
.textos {
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFF;
}
.fondosceldas {
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 13px;
	background-color: #f5f5f5;
}
.rowsl {
	color: #2C0973;
	font-family:  Arial, Helvetica, sans-serif;
	font-family:Arial,Helvetica,sans-serif;
	font-size:13px;
	text-decoration:none;
}
.fondoceldas {
	background-color: #FFF;
}
.textoazul {
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #276C98;
}
.main2{
	font-size: 10pt;
	font-family:  Arial, Helvetica, sans-serif;
	color: #628514;
	padding-left:18px;
}
.krisback {
	background-image: url(images/kris.png);
	background-repeat: repeat-y;
	background-position: center center;
}
table.mtable { 
	border-spacing: 0px;
	border-collapse: collapse;
	border: 0px;
}
table.mtable td, table.mtable th{
	padding: 0; /* 'cellpadding' equivalent */
}
.gcol{
	background-color: #639200;
}
a.stilotexto{
	font-weight: bold;
	padding: 0px 5px;
	text-transform:uppercase;
	border-right: 1px solid #263010;
}



/* messages */

/* General messages  in the application*/
.info, .success, .warning, .error, .validation {
	border: 1px solid;
	margin: 10px 0px;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
}
.info {
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url('images/msg/info.png');
}
.success {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image:url('images/msg/success.png');
}
.warning {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('images/msg/warning.png');
}
.error {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('images/msg/error.png');
}

/* Pincache */

#template-form label, #product-form label{
	font-weight: bold;
}
#template-form input, #template-form select, #template-form textarea{
	width:360px; padding: 5px;
}
#template-form textarea{
	height: 60px;
}
.actions{
	text-align: right;
	width: 100%;
}
.productBox{
	width: 100%;
	border-collapse:collapse;
}
.productBox tr{
	border:1px solid #7A9148;
}
.productBox th{
	background-color:#7A9148;
	color: white;
}

/* Main Menu*/

#mainmenu{
	background-color: #afd855;
	height: 32px;
	min-width: 1280px;
	overflow-x: auto;
	overflow-y: hidden;	
}
#mainmenu ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
}
#mainmenu ul li{
	float: left;
	border-right: 1px solid #263010;
}
#mainmenu ul li a{
	display: block;
	font-weight: bold;
	padding: 8px;
	color: white;
	text-transform: capital;
	max-height: 32px;
}
#mainmenu ul li a:hover{
	background-color: #639200;
}
#mainmenu ul li a.current{
	background-color: #639200;
}
.submenu{
	background-color: #ffffff !important;
}
.submenu ul li a{
	background-color: #afd855;
}



#popBG {
	z-index: 2;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 1000px;
	background-image: url(images/popupbgpixolive.png);
	filter: alpha(opacity=100 );
}

#pop {
	z-index: 3;
	position: relative;
	border: 1px solid #333333;
	text-align: center;
}

#popContent {
	overflow: scroll;
}

#popClose {
	float: right;
	margin: 5px;
	cursor: pointer;
	position: relative;
}

.grayLabel {
	color: gray;
	font-weight: bold;
}

.silvered {
	background-color: silver;
}

.messagesNormal{
	font-size: 15px;	
}

.warnMessage
{
    color: #ff0000;
    text-align: left;
    background-color: #FFFFFF;
    font-size: 10pt;
    font-family: Verdana, Arial, sans-serif;
}

.resultsTable{
    width: 100%;
    border-spacing: 1px;
    padding: 1px;
    border-collapse: separate;
}

span.spanErrorMsg {
    color:#FF0000;
    font-style:italic;
    font-size: 0.875em;
}

.errorLabelField {
    color: #FF0000;
    font-style: italic;
    font-size: 0.875em;
}

.errorLabelPass {
    color: #FF0000;
    font-style: italic;
    font-size: 10px;
}